@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root{
    --Table-color: #3d4449;
    --Table-second-color: #505a60;
    --user-color: #605d5d;
    --text-color: #eef3f1;
    --font-color: #f6f5ff;
    --font: rgba(250, 250, 250, 0.92);
}

body{
    background: var(--font);
}

/* FORMULARIO CREATE */
.create{
    padding: 20px;
}

.values{
    padding: 10px;
}

.execute{
    padding: 10px;
}

label {
    display: block;
    font-weight: bold;
}

.input_create {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.BotonAgregar {
    background-color: #65da83;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.BotonAgregar:hover {
    background-color: #509665;
}

.titulo-two{
    padding: 20px;
    font-size: 30px;
}


/* TABLA*/
.section-table{
    padding-top: 0; /* Sin padding en la parte superior */
    padding-right: 10px; /* Paddi       ng a la derecha */
    padding-bottom: 10px; /* Padding en la parte inferior */
    padding-left: 10px;
}

tr th .top-table{
    background: var(--Table-color);
    margin: 0 20px 0 20px;
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px 10px 0 0;
}

.top-table .form-search{
    width: 100%;
}

.form-search{
    display: inline-flex;
    align-items: baseline;
    justify-content: start;
    text-align: center;
    padding: 10px;
}

.form-search .content-selector{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    flex-grow: 1;
}

.form-search .content-selector select{
    color: var(--text-color);
    margin-left: 5px;
    appearance: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: #3b3a3a;
    background: var(--Table-second-color);
}

.form-search .content-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    flex-grow: 2;
}

.form-search .content-label .input_search{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex: 2;
}

.form-search .content-label i{
    font-size: 30px;
    margin-left: 10px;
}

.table {
    overflow-x: auto;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    border-spacing: 0; /* Espaciado entre las celdas de la tabla */
    border: 1px solid transparent; /* Borde alrededor de la tabla completa con color transparente */
    border-radius: 50px;
}

th, td {
    padding: 10px;
    border: var(--Table-color);
    text-align: center;
}

th {
    background-color: var(--Table-color);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--Table-second-color);

}
tr:nth-child(odd) {
    background-color: var(--Table-color);
}



.edit-button{
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}
.delete-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #af073b;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.edit-button:hover{
    background-color: #0056b3;
}
.Eliminaciones:hover,
.delete-button:hover {
    background-color: #830633;
}

.Eliminaciones{
    padding: 10px;
    background-color: #af073b;
    border-radius: 10px;
    color: var(--text-color);
    border: none;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
    display: inline;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}

.pagination .active a {
    background-color: #333;
}


@media (max-width: 400px) {
    .top-table{
        flex-direction: column;
    }
}

.eliminarselect{
    border: none;
    background-color: #830633;
    color: var(--text-color);
    width: 60%;
    height: 100%;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
}

@media (max-width: 400px) {
    .top-table{
        flex-direction: column;
    }
}
